html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
#heading {
  background-color: rgb(202, 126, 93);
  margin: 5%;
  text-align: center;
  font-size: 10vh;
  color: cornsilk;
  border-radius: 30px;
}
.info {
  background-color: rgb(161, 98, 72);
  font-size: 7vh;
  color: cornsilk;
  text-align: center;
  margin: 3%;
  border-radius: 30px;
  padding: 5px;
}
.output {
  background-color: rgb(161, 98, 72);
  font-size: 7vh;
  color: cornsilk;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 30px;
  padding: 5px;
  width: 50%;
  text-align: center;
}
.images {
  position: absolute;
  width: 30%;
  left: 36vw;
  visibility: hidden;
}

#btn {
  width: 200px;
  font-weight: 700;
  background-color: rgb(105, 50, 36);
  color: antiquewhite;
}

#angry {
  z-index: 5;
}

#remove {
  background-color: rgb(129, 35, 11);
  font-size: 40px;
  border-radius: 15px;
  color: antiquewhite;
  padding: 10px;
}
